<!DOCTYPE html>
<div class="container-fluid">
    <form class="form-inline">
        <input type="text" class="form-control" placeholder="Filter Lessons" ng-model="filterText">
        <button class="btn btn-default" ng-click="resetFilter()">Reset</button>
    </form>
    <ul class="list-group" ng-repeat="historyItem in filterHistory">
        <li class="list-group-item">{{historyItem}}</li>
    </ul>
    <div class="panel panel-default" ng-repeat="lesson in lessons| filter:filterText">
        <div class="panel-heading">
            <a href="#/lessons/{{lesson.id}}">Lesson {{lesson.id}}</a>: {{lesson.title}}
            <button class="btn btn-default" ng-click="showLesson(lesson.id)">Details</button>
        </div>
        <div class="panel-body">
            Link: <a href="{{lesson.url}}">{{lesson.url}}</a>
        </div>
    </div>
</div>
